{
  "rewrites": [
    {
      "source": "/api/(.*)",
      "destination": "http://{{PUBLIC_IP}}:8000/api/$1"
    },
    {
      "source": "/static/(.*)",
      "destination": "http://{{PUBLIC_IP}}:8000/static/$1"
    }
  ]
}